*{
    margin: 0 auto;
    padding: 0;

}
body{

    margin: 0 auto;
    padding: 0;
    font-family: tahoma, verdana, arial, sans-serif;
   color: #ffffff;
    font-size: 15px;
    text-align: justify;


}

@font-face {
    font-family: Futurist Fixed-width;
    src: url('../fonts/FUTRFW.TTF') format("truetype");
}

.bgVerde
{
    background-color: #008d88;
}

.verdeClaro{

    color: #61c6cc;

}

.bgCinza{background-color: #e6e6e6;}

.bgAzul
{
    background-color: #61c6cc;
}

.bgLaranja
{
    background-color:   #f26f21;
}

.corLaranja
{
    color: #f26f21;
}

.banner
{
    background: url(../img/banner.png) center no-repeat;
    height: 286px;
    align-content: center;
}

.logoDM
{
    background: url(../img/logoDM.png) center no-repeat;
    background-size: contain;
    align-content: center;
    height: 91px;
    width: 79px;
}

.barra
{
    background: url(../img/barra.png) center no-repeat;
    height: 40px;
    width: 300px;

}

.imagens
{
    border: #FFFFFF;
    border-bottom-left-radius: 17px;
    border-top-right-radius: 17px;
    border-style: solid;
    width: 116px;
    height: 168px;
    position: relative;

}

.DicasMes
{

    border-bottom-left-radius: 17px;
    width: 250px;
    height: 350px;
    background-color: #008d88;

}

.DicasMes2
{

    border-bottom-left-radius: 17px;
    width: 250px;
    height: 350px;
    background-color: #61c6cc;

}

.receita
{

    border-bottom-left-radius: 17px;
    width: 250px;
    height: 387px;
    background-color: #f26f21;


}

.enquete
{

    border-bottom-left-radius: 17px;
    width: 250px;
    height: 387px;
    background-color: #008d88;


}


.imagensElogio
{
    border: #FFFFFF;
    border-bottom-left-radius: 17px;
    border-top-right-radius: 17px;
    border-style: solid;
    width: 90px;
    height: 103px;
    position: relative;


}

.imagens1
{

    top: 3px;
}

.imagens2
{
    bottom: 165px;
    left: 130px;

}

.imagens3
{
    bottom: 333px;
    left: 265px;

}

.imagens4
{
    bottom: 45px;

}

.textoNome
{
    position: relative;
    top: 170px;
}




.barravertical
{
    background: url(../img/barraVertical.png) center no-repeat;
    height: 165px;
    width: 15px;
    background-size: contain

}

.barraPrincipal
{
    background: url(../img/barraPrincipal.png) center no-repeat;
    height: auto    ;
    width: 15px;
    background-size: contain

}

.barraverticalCinza
{
    background: url(../img/barraVerticalCinza.png) center no-repeat;
    height: 500px;
    width: 15px;
    background-size: contain

}

.logorank
{
    background: url(../img/logorank.png) center no-repeat;
    height: 56px;
    width: 61px;
    background-size: contain;
    position: absolute;

}

.logoBotao
{
    border: #FFFFFF;
    border-bottom-left-radius: 17px;
    border-top-right-radius: 17px;
    border-style: solid;
    width: 64px;
    height: 56px;
    position: absolute;
}

.cursor{cursor:pointer;}

.logorank1
{
    left: 53px;
    top: -7px;
    z-index: 1;
}


.icon1
{

    height: 84px;
    width: 49px;
    background: url(../img/icon1.png) center no-repeat;
    background-size: contain;
    align-content: center;
}

.icon3
{

    height: 84px;
    width: 49px;
    background: url(../img/icon3.png) center no-repeat;
    background-size: contain;
    align-content: center;
}

.icon2
{

    height: 84px;
    width: 49px;
    background: url(../img/icon2.png) center no-repeat;
    background-size: contain;
    align-content: center;
}

.icon4
{

    height: 84px;
    width: 49px;
    background: url(../img/icon4.png) center no-repeat;
    background-size: contain;
    align-content: center;
}

.icon5
{

    height: 84px;
    width: 49px;
    background: url(../img/icon5.png) center no-repeat;
    background-size: contain;
    align-content: center;
}

.icon6
{

    height: 84px;
    width: 49px;
    background: url(../img/icon6.png) center no-repeat;
    background-size: contain;
    align-content: center;
}

.logoRodape
{

    height: 84px;
    width: 49px;
    position: relative;
    left: 495px;
    bottom: 50px;
    background: url(../img/logoRodape.png) center no-repeat;
    background-size: contain;
    align-content: center;
}

@media screen and (max-width: 500px)
{

    .logoRodape
    {

        height: 84px;
        width: 49px;
        position: relative;
        left: 78px;
        bottom: 50px;
        background: url(../img/logoRodape.png) center no-repeat;
        background-size: contain;
        align-content: center;
    }

}



.Tela1
{
    height: 470px;
    width: auto;
    background: url(../img/tela40.png) center no-repeat;
    background-size: contain;
    align-content: center;

}
h2
{
    left: 40px; bottom: 27px;
    font-family: Futurist Fixed-width;
    font-size: 30px;
    color: #4b4b4d;
}

div span
{
    font-size: 15px;
    /*font-family: Futurist Fixed-width;*/
    color: #ffffff;
}
.menus p{

    font-size: 15px;
    line-height: 10px;


}

.alinhar
{
    left: 40px;top: 5px;
}

.textoAvisos
{
    color: #ffffff;
    font-size: 13px;




}

.retangulo
{
    background-color: #f26f21;
    width: 300%;
    height: 22em;
    box-shadow: 5px 5px 11px rgba(0,0,0,0.5);


}

.ajustaImagens
{

    width: 250px;
    height: 164px;

}

.avisos
{

    height: 149px;
    width: 343px;
    background: url(../img/avisos.png) center no-repeat;

    align-content: center;
}

.avisos2
{

    height: 229px;
    width: 212px;
    background: url(../img/avisos2.png) center no-repeat;
background-size: contain;
    align-content: center;
}

.botao
{
    background-color:   #008d88;
    height: 70px;
}

.botao :hover
{
    background-color:   #f26f21;
}

ul.menu li {

    background-color:   #008d88;
    float:left;
    padding:0;
    line-height: 30px;

}
ul.menu li a{

    display: block;
    padding: 5px 30px;
    font-size:13px;
    color: #fff;

}
ul.menu li a:hover, ul.menu li:hover{
    background-color:   #f26f21;
}

/* carregar */

.sk-circle {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
}
.sk-circle .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.sk-circle .sk-child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
    animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg); }
.sk-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg); }
.sk-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
.sk-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg); }
.sk-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg); }
.sk-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
.sk-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg); }
.sk-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg); }
.sk-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg); }
.sk-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg); }
.sk-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s; }
.sk-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1);
          transform: scale(1);
      }
}

@keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1);
          transform: scale(1);
      }
}